template(name='Header')
  header
    nav
      div.nav-wrapper.primaryColor

        a(href='{{pathFor "home"}}')
          img(src='/img/idealab.jpg' style='height: 75%; margin-top: 10px;padding-left: 20px')

        ul.right
          if currentUser
            .nav-commands.center
              div
                a(style='float: right; font-size: 170%') $ {{myBalance}},00
              
